@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');

.material-symbols-outlined {
  padding-top: 5px;
}

.ml-auto {
  margin-left: auto;
}

.botonCarrito {
  margin-left: 15px !important;
}